@import "tailwindcss";
@plugin "daisyui" {
    root: ".ddddddoc-root";
    prefix: "dddd-";
}

html {
    scrollbar-gutter: auto !important;
}


.dddd-btn.dddd-btn-primary {
    color: var(--color-white)!important;
}